<div class="inline-flex flex-col border-2 rounded-lg p-5 m-5 w-96 shadow-lg">
  <div class="flex justify-between items-center justify-center">
    <h5 class="font-bold text-lg my-2"><%= task.name %></h5>
    <div class="flex gap-2">
      <a href="/edit/<%= task.id %>" class="text-xs font-semibold py-1 px-2 rounded-lg text-white bg-green-700">Edit</a>
      <form action="/delete/<%= task.id %>" method="post" onsubmit="myFunction()">
        <input type="submit" name="delete_<%= task.id %>" id="delete_<%= task.id %>" value="Delete"
              class="text-xs font-semibold py-1 px-2 rounded-lg text-white bg-red-700 cursor-pointer">
      </form>
    </div>
  </div>
  <div class="text-xs">
    Date: <span class="font-semibold"><%= task.date %></span>
  </div>
  <hr class="border-2 my-2">
  <div class="text-sm">
    <span><%= task.comment %> </span>
  </div>
  <div class="text-xs my-2">
    ID: <span class="font-semibold"><%= task.id %></span>
  </div>
</div>





