<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css" />
    <title>To-Do Project.</title>
  </head>
  <body>
    <main>
      <%- include('../partials/header'); %>
      <section class="p-20 flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl text-cyan-900">Update task:</h2>

        <%- include('../partials/task.ejs', { task: task }) %>

        <form action="/update/task/<%= task.id %>" method="post" class="flex flex-col px-10 w-full">
          <div class="mb-6">
            <label for="task_name" class="block mb-2 text-sm font-bold text-cyan-900">Task's name:</label>
            <input type="text" name="task_name" id="task_name" placeholder="Buy eggs." value="<%= task.name %>"
                class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-full">
          </div>

          <div class="mb-6">
            <label for="task_date" class="block mb-2 text-sm font-bold text-cyan-900">Deadline:</label>
            <input type="date" name="task_date" id="task_date" value="<%= task.date %>"
                  class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-1/6">
          </div>

          <div class="flex flex-col items-start mb-6">
            <label for="task_comment" class="block mb-2 text-sm font-bold text-cyan-900">Comments:</label>
            <textarea name="task_comment" id="task_comment" cols="30" rows="10" placeholder="Go to the Shopping center"
                class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-full"><%= task.comment %></textarea>
          </div>

          <div class="flex justify-center items-center">
            <input type="submit" class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg cursor-pointer py-2 px-4" value="Add task">
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
